.allWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.statsNavigationContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(186, 223, 223);
    height: auto;
    padding-left: 1rem;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}
.logoWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}
.statsNavLinksWrapper {
    background-color: rgb(204, 223, 223);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2vw;
    font-size: 1rem;
    padding: 1rem;
}

.siteLogo {
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

.infoContents{
    padding-top: 10px;
    padding-left: 10px;
    max-width: 80vw;
    h1{
        font-size: x-large;
        margin-bottom: 10px;
    }
    h2{
        margin-top: 25px;
        font-size: medium;
    }
    p,li{
        font-size: 0.9rem;
        margin-bottom: 10px;
    }
    ul{
        padding-left: 25px;
        margin-bottom: 10px;
    }
}