.footWrapper{
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    /* height: 100px; */
    /* margin-top: 180px; */
    max-height: 70px;
    width:100%;
    font-size: small;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: black;
    color: white;
    /* color: var(--fontColBtnBuy); */

    .leftSide {
        display: flex;
        flex-direction: column;
        padding-left: 15%;
        color: white;
        flex-wrap: wrap;
        margin: 1vw;
        padding-right: 10vw;
        width: 60vw;
        height: auto;
      }
      .rightSide {
          color: white;
          width: 40vw;
          ul {
              list-style: none;
            }
        }
}

@media screen and (max-width: 380px) {
    .footWrapper{
        flex-direction: column;

        .leftSide {
            padding-left: 0px;
            margin-bottom: 12px;
        }
    }
}
@media screen and (max-width: 800px) {
    .leftSide {
        padding-left: 100px;
    }
}