.allWrapper {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: auto;

    .infoContents {
        padding-top: 10px;
        padding-left: 5px;
        max-width: 80vw;

        h2 {
            margin-top: 10px;
            margin-bottom: 5px;
            font-size: medium;
        }

        p,
        li {
            font-size: 0.9rem;
            margin-bottom: 10px;
        }

        ol {
            padding-left: 25px;
            margin-bottom: 10px;
        }
    }
}

.dropdownContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 30vw;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 12px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    font-family: 'Courier New', Courier, monospace;
}

.dropdownWrapper {
    display: flex;
    flex-direction: column;

    label {
        font-size: 1rem;
        margin-bottom: 8px;
        font-weight: 500;
        color: #333;
    }
}


.customSelect {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    margin-left: 10px;
    padding: 6px 30px 6px 15px;
    font-size: 0.9rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: white;
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2210%22%20height%3D%227%22%20viewBox%3D%220%200%2010%207%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cpath%20d%3D%22M0%200l5%207%205-7z%22%20fill%3D%22%23444%22/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px;
    cursor: pointer;
    transition: border-color 0.2s ease-in-out;

}

.customSelect:focus {
    border-width: 2px;
    border-color: #b86acf;
    outline: none;
}

.submitButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    background-color: #0070f3;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .submitButton:hover {
    background-color: #0059c1;
  }
  
  .submitButton:active {
    background-color: #0044a3;
  }