.tblResp {
    display: flex;
    justify-content: center;
    flex-direction: column;

    h1{
        font-size: 1.5rem;
    }
}

.tables {

    border: 1px solid black;
    overflow-x: auto;
    border: 1px solid;
    border-collapse: collapse;
    width: 100%;


    th,
    td {
        font-family: 'Courier New', Courier, monospace;
        font-size: .9rem;
        padding: 15px;
        text-align: left;
    }
}